<!DOCTYPE html>
<html>
  <head>
    <title><%= site_name %></title>
    <link rel="icon" type="image/x-icon" href="<%= gravatar_url %>"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="http://www.sliwecki.pl" />
    <meta property="og:locale" content="pl_PL" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Damian Śliwecki - Portfolio" />
    <meta property="og:description" content="Damian Śliwecki - Portfolio. I create modern web application and web site for You" />
    <meta property="og:url" content="http://www.sliwecki.pl" />
    <meta property="og:image" content="<%= gravatar_url %>" />
    <link rel="alternate" hreflang="pl" href="http://www.sliwecki.pl">
    <link rel="alternate" hreflang="en" href="http://www.sliwecki.pl">
    <meta name="description" content="Endorfina soft Damian Śliwecki. I create modern web application and web site for You">
    <meta name="author" content="Damian Śliwecki">
    <meta name="title" content="Damian Śliwecki - Portfolio - Endorfina soft">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.javascripts/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body id="page-top" class="index">
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
